<!DOCTYPE html>
<html>
<head>
    <title>Manish's blog</title>
</head>
<body>
<header>
    <h1>
        <a href="/">Manish' Blog</a>
    </h1>
</header>

<article>
    <time>published:14.06.2014,12:14</time>
    <h2><a href="">My first post</a></h2>
    <p>Aenean tincidunt semper quam non tempor. Integer ante mauris, mollis scelerisque nunc a, placerat pharetra lectus. Vivamus faucibus egestas sem, eu tempus elit egestas ac. Mauris blandit semper ipsum ac feugiat. Integer eget mauris sollicitudin, tempor dui sit amet, sollicitudin nunc. Fusce lobortis odio eget orci fringilla consectetur. Etiam pulvinar ex neque, a consectetur lacus finibus eget.</p>
</article>

<article>
    <time>published:14.06.2014,12:14</time>
    <h2><a href="">My second post</a></h2>
    <p>Aenean tincidunt semper quam non tempor. Integer ante mauris, mollis scelerisque nunc a, placerat pharetra lectus. Vivamus faucibus egestas sem, eu tempus elit egestas ac. Mauris blandit semper ipsum ac feugiat. Integer eget mauris sollicitudin, tempor dui sit amet, sollicitudin nunc. Fusce lobortis odio eget orci fringilla consectetur. Etiam pulvinar ex neque, a consectetur lacus finibus eget.</p>
</article>


</body>
</html>